adf-resources/pipeline/pl_ingest_population_data.json
{
	"name": "pl_ingest_population_data",
	"properties": {
		"activities": [
			{
				"name": "Check If File Exists",
				"description": "we are using validation activity to make sure we have source file availabale.",
				"type": "Validation",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_population_gz",
						"type": "DatasetReference"
					},
					"timeout": "0.00:02:00",
					"sleep": 30
				}
			},
			{
				"name": "Get File Metadata",
				"description": "we are using Get Metadata activity to get the column count in the dataset",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Check If File Exists",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_population_gz",
						"type": "DatasetReference"
					},
					"fieldList": [
						"columnCount",
						"exists",
						"size"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If Colulmn Count Matches",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get File Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Get File Metadata').output.columnCount,13)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Data Validation Fail",
							"description": "Since the columns in the input dataset didnot match we want to fail pipeline to not corrupt downstream data systems",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": "Input Dataset Column Count Mismatch",
								"errorCode": "509"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Copy Data Activity",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_population_gz",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_population_tsv",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Delete Source File",
							"description": "once the copy activity is successfully completed we are going to delete the source file",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "Copy Data Activity",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_population_gz",
									"type": "DatasetReference"
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "Ingest"
		},
		"annotations": [],
		"lastPublishTime": "2026-05-30T14:07:59Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}